body {
  background-color: #2e2e2e;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

#canvas-holder canvas {
  width: 800px !important;
  height: 450px !important;
  image-rendering: pixelated;
  border: 8px solid #8a7650;
  border-bottom: none;
  display: block;
}

#chat-box {
  width: 100%;
  height: 120px;
  background-color: #ece7d1;
  border: 8px solid #8a7650;
  padding: 15px;
  box-sizing: border-box;
  color: #8a7650;
}

#npc-name {
  font-weight: bold;
  color: #8e977d;
  border-bottom: 2px solid #dbcea5;
  font-size: 18px;
}

#dialogue-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

/* --- 天数显示栏样式 --- */
#day-display {
  width: 100%;
  background-color: #ece7d1; /* 和对话框一样的复古纸张底色 */
  border: 8px solid #8a7650; /* 同样的边框颜色 */
  border-bottom: none; /* 去掉底边框，让它和画面无缝连接 */
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #8a7650;
  letter-spacing: 2px; /* 让字母稍微拉开一点，更有仪式感 */
  text-transform: uppercase;
}
